<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is about Page</title>
</head>
<body>
	<section>
	
	<div class="card mr-5">
	
	<div class="card-body">
	
	<h1 class="text-center">Your Contacts</h1>
	
	<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Work</th>
      <th scope="col">Email</th>
      <th scope="col">Phone No.</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Subir Ghosh</td>
      <td>Java Devoloper</td>
      <td>subir2586@gmail.com</td>
      <td>9330291064</td>
      <td>Working of DSA</td>
    </tr>
    
   
  </tbody>
</table>
	
	
	</div>
	
	</div>
	
	</section>
</body>
</html>